node_modules
node_modules_linux
coverage
server/localdev-config.json
localdev-config.json
vcap-local.js
credentials.json
*.log
package-lock.json
.ibm-project
run-local
ibm-credentials.env
apikey.js
server/apikey.js
