<!--<link rel="stylesheet" type="text/css" href="https://unpkg.com/carbon-components/css/carbon-components.min.css">-->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">

<nav id="nav-bar"  class="header">
    <a href="/" class="w3-button w3-bar-item" ><strong> Home </strong></a>
    <a href="about.html" class="w3-button w3-bar-item"><strong> Team Info </strong></a>
    <a href="analysis.html" class="w3-button w3-bar-item"><strong> Watson Code Reviewer </strong></a>
</nav>
